<footer class="ftr ftr-min">
<div class="wrap ftr-min-in">
<a class="ftr-mark" href="#top" aria-label="{{ t.meta.siteName }}"><img src="/media/logo-light.svg" alt="{{ t.meta.siteName }}" width="88" height="22"></a>
<p class="ftr-cr">{{ t.footer.copy }}</p>
</div>
</footer>
